# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=''

# Next Auth
NEXTAUTH_SECRET=o6wHhpmBDkq2aYelFJGlzZqQ7BIh5/9OBwOh3oqb6Cs=
NEXTAUTH_URL=http://localhost:3000

# Next Auth Discord Provider
DISCORD_CLIENT_ID=1010586741230538793
DISCORD_CLIENT_SECRET=80VqP7BsJmt_eamEu40GcZtdEc_xm4kr
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
